
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1501237952514-22 {
            top: 5px;
            left: 5px;
            min-width: 960px;
        }
        
        .silex-id-1501237952513-21 {
            width: 960px;
            min-height: 371px;
            top: 15px;
            left: 323px;
        }
        
        .silex-id-1501233970499-0 {
            width: 479px;
            min-height: 357px;
            top: 5px;
            left: 231px;
        }
        
        .silex-id-1501162218791-28 {
            top: 411px;
            left: 5px;
            min-width: 960px;
        }
        
        .silex-id-1501162218790-27 {
            width: 960px;
            min-height: 326px;
            top: 15px;
            left: 323px;
        }
        
        .silex-id-1501242486178-52 {
            width: 781px;
            min-height: 318px;
            top: 1px;
            left: 100px;
        }
        
        .silex-id-1501161582807-25 {
            background-color: rgba(0, 0, 0, 1);
            top: 1471px;
            left: 5px;
        }
        
        .silex-id-1501161582806-24 {
            min-height: 184px;
        }
        
        .silex-id-1501162842334-42 {
            width: 79px;
            min-height: 83px;
            top: 47px;
            left: 448px;
        }
        
        .silex-id-1501162951477-43 {
            width: 321px;
            min-height: 51px;
            top: 150px;
            left: 338px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1501162951477-43 {
                top: 172px;
                left: 31px;
                width: 377px;
                min-height: 56px;
            }
        }
        
        .silex-id-1501238338408-43 {
            top: 1884px;
            left: 5px;
        }
        
        .silex-id-1501238338407-42 {
            min-height: 29px;
        }
    